<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="NoursTableBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
            <exclude>./Tests/web</exclude>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="./Tests/" />
        <server name="KERNEL_CLASS" value="AppKernel" />
    </php>
</phpunit>